<?xml version="1.0" encoding="UTF-8" ?>

<admin>
    <user>admin_user</user>
    <password>admin_pass</password>
</admin>

<database>
    <driver>mysql</driver>
    <host>localhost</host>
    <dsn></dsn>
    <port>3306</port>
    <name>auctions</name>
    <user>auctions</user>
    <pass>auctions</pass>
    <attr>
    </attr>
    <encoding>utf8</encoding>
</database>

<module>
    <home>
        <header>home</header>
        <footer>footer</footer>
    </home>
</module>

<plugin>
	<email>
		<transport>Sendmail</transport>
		<sendmail>/usr/sbin/sendmail</sendmail>
	</email>
</plugin>

<hook>
		<hooks>
			<status>1</status>
		</hooks>
</hook>

